<?xml version="1.0"?>
<!--
/**
 * Copyright © Shopigo. All rights reserved.
 * See LICENSE.txt for license details (http://opensource.org/licenses/osl-3.0.php).
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="general">
            <group id="shopigo_access_restriction" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Access Restrictions</label>
                <field id="enabled" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Enable Access Restrictions</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="rules" translate="label comment" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Restriction Rules</label>
                    <comment><![CDATA[Use wildcard '*' to specify any controller or action.]]></comment>
                    <frontend_model>Shopigo\AccessRestriction\Block\Adminhtml\Form\Field\RestrictionRules</frontend_model>
                    <backend_model>Shopigo\AccessRestriction\Model\System\Config\Backend\RestrictionRules</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
